/* You can add global styles to this file, and also import other style files */

@use './reset';

@import "primeicons/primeicons.css";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
